<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.mapper.MzblMapper">

  <resultMap id="ResultMap1" type="ApplyCheckingExt" extends="com.neuedu.mapper.ApplyCheckingMapper.BaseResultMap">
    <result column="name" property="name"></result>
  </resultMap>
    <resultMap id="ResultMap2" type="ApplyInspectExt" extends="com.neuedu.mapper.ApplyInspectMapper.BaseResultMap">
    <result column="name" property="name"></result>
  </resultMap>


  <select id="queryApplyCheckingWithMedicalId" parameterType="int" resultMap="ResultMap1" >
        SELECT
      mr.name name,
      apply_check_id,
      ac.medical_id medical_id,
      check_id,
      check_name,
      fee,
      ac.status,
      ac.is_del,
      ac.create_time
    FROM
      t_apply_checking ac
      INNER JOIN t_medical_record mr
        ON ac.medical_id = mr.medical_id
    WHERE ac.medical_id = #{medicalId}

  </select>

  <select id="queryApplyInspectWithMedicalId" parameterType="int" resultMap="ResultMap2" >
         SELECT
      mr.name NAME,
      apply_inspect_id ,
      ai.medical_id medical_id,
      inspect_id,
      inspect_name,
      fee,
      ai.status,
      ai.is_del,
      ai.create_time
    FROM
      t_apply_inspect ai
      INNER JOIN t_medical_record mr
        ON ai.medical_id = mr.medical_id
    WHERE ai.medical_id =  #{medicalId}
  </select>
</mapper>